@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", serif;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Bebas Neue", serif;
}